@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
	/* COLORS */
	--black: #22272E;
	--dark-gray: #8D8D8D;
	--yellow: #f7bd40;
	--white: #f3f3f2;
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	font-weight: 300;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header {
	height: 100vh;
	position: relative;
	background-image: url(../img/5566879.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header #nav {
	text-align: right;
}

header #nav a, header #nav a:visited {
	text-decoration: none;
	color: var(--black);
}

header #nav a:hover {
	color: var(--yellow);
}

header #nav a i {
	font-size: 2.5em;
	margin-right: 1em;
	margin-top: 8px;
}

header #name-container {
	position: absolute;
	top: 50%;
	transform: translate(100%, -150%);
}

header h1 {
	text-align: center;
	font-size: 5.5em;
	font-weight: 100;
	color: var(--black);
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-25 15:5:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


header h3 {
	text-align: center;
	color: var(--dark-gray);
}

section {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: var(--white);
}

#test {
	height: 100vh;
	width: 100vw;
}
